<div class="page-content">
    <!-- Page Inner -->
    <div class="page-inner">
        <div id="main-wrapper" class="container">
            <div class="row">
                <div class="col-md-6 center">
                    <h1 class="error-page-logo">{{ response.getStatusCode() }}</h1>
                    <p class="error-page-top-text">Oops.. Something went wrong..</p>
                    <p class="error-page-bottom-text">{{ title }}</p>
                    {% if e|default(null) %}
                        <pre>{{ e.getMessage() }}</pre>
                        <pre>{{ e.getTraceAsString()|nl2br }}</pre>
                    {% endif %}
                    {#<a href="404.html#" class="btn btn-primary m-b-xxs">Help Center</a>#}
                    <a href="/" class="btn btn-default m-b-xxs">Return Home</a>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- /Page Inner -->
</div><!-- /Page Content -->