<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Add new data set</h3>
    </div>
    <div id="main-wrapper">
        <form action="/automations/datasets/create" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-body">


                            <div class="form-group">
                                <label for="vname">Name</label>
                                <input name="name" type="text" class="form-control" id="name"
                                       placeholder="Name of the set">
                            </div>
                            <div class="form-group">
                                <label for="vvalue">Paste here your CSV file content</label>
                                <textarea onchange="datasets.parseInput(this);" name="value" type="text"
                                          class="form-control" id="value" placeholder=""></textarea>
                            </div>
                            <div class="form-group text-right">
                                <input type="hidden" name="columns" id="columns" value="" />
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
            <div class="row">
                <div class="col-lg-12 col-md-11">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Columns to be created<br/>
                                <small>(blue background)</small>
                            </h4>
                        </div>
                        <div class="panel-body form-inline" id="columns_ok">
                            <div class="text-center">Import some data please :(</div>
                        </div>
                        <pre style="background: #eee; color:#646464; white-space:pre !important; display: none" id="post_data"></pre>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- Main Wrapper -->

</div><!-- /Page Inner -->