<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Data sets</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <a href="/automations/datasets/create" class="btn btn-success m-b-sm"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add new set of data</a>
                        <div class="table-responsive">
                            <table id="example" class="display table table-striped" style="width: 100%; cellspacing: 0;">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Elements count</th>
                                    <th style="width: 100px;">Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Elements count</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for v in datasets|default([]) %}
                                    <tr>
                                        <td><a href="/automations/datasets/{{ v['uuid'] }}">{{ v['name'] }}</a></td>
                                        <td>0</td>
                                        <td><a href="/automations/variables/delete/{{ v['uuid'] }}"><span class="icon-delete">&nbsp;</span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->