<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Add new Variable</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">

                        <form action="/automations/variables/create" method="post">
                            <div class="form-group">
                                <label for="vname">Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                    <input name="name" type="text" class="form-control" id="vname"
                                           placeholder="variable's name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vvalue">Initial value</label>
                                <input name="value" type="text" class="form-control" id="vvalue" placeholder="value">
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->