<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Customize automation</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Create new automation features</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <input type="text" placeholder="Name of the automation" name="trigger_name" id="trigger_name"
                                       value="{{ data.name|default('') }}" class="form-control"/>
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group">
                                On event <select name="event[id]"
                                                 class="form-control mb-2 mb-sm-0 border-input g-events" id="tr_event">
                                    <option>-- select trigger --</option>
                                    {% for k,v in events|default([]) %}
                                        <option value="{{ v['id'] }}"
                                                {% if v['id'] == data.event.id|default(null) %}selected{% endif %}>{{ v['name'] }}</option>
                                    {% endfor %}
                                </select>
                                execute action
                                <select name="action[id]"
                                        class="form-control mb-2 mb-sm-0 border-input g-actions">
                                    <option>-- select action --</option>
                                    {% for k,v in actions|default([]) %}
                                        <option value="{{ v['id'] }}"
                                                {% if v['id'] == data.action.id|default(null) %}selected{% endif %}>{{ v['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>

                        <form class="form-inline" style="margin-top:10px;">
                            <div class="form-group">
                                <div class="g-conditions" style="padding-left:17px;">
                                    {% for k,v in data.conditions|default([]) %}
                                        <p class="g-p-condition"><i class="fa fa-minus-square" aria-hidden="true"
                                                                    style="cursor: pointer;"></i>
                                            &nbsp; If &nbsp;
                                            <select name="condition-name"
                                                    class="form-control mb-2 mb-sm-0 border-input g-conditions-select">
                                                {% for i,j in triggerConditions %}
                                                    <option value="{{ j['id'] }}"
                                                            {% if v.id == j['id'] %}selected="selected"{% endif %}>{{ conditions[j['id']]['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                            <select name="condition-sign"
                                                    class="form-control mb-2 mb-sm-0 border-input g-conditions-signs">
                                                {% for i,j in conditions[v.id]['signs'] %}
                                                    <option value="{{ j }}"
                                                            {% if v.sign == j %}selected="selected"{% endif %}>{{ j }}</option>
                                                {% endfor %}
                                            </select>

                                            {% if conditions[v.id]['values'] is type('array') %}
                                                <select name="condition-value"
                                                        class="form-control mb-2 mb-sm-0 border-input g-conditions-value">
                                                    {% for ii,jj in automationConditions[v.id].values %}
                                                        <option value="{{ jj }}"
                                                                {% if ii == v.value %}selected="selected"{% endif %}>{{ jj }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <input value="{{ v.value }}" name="condition-value" type="text"
                                                       class="form-control border-input g-conditions-value {% if v.id==9 %}date-picker{% endif %}"
                                                       placeholder="value"/>
                                            {% endif %}
                                        </p>
                                        {#<p class="operator"><select class="form-control"><option>AND</option><option>OR</option></select></p>#}
                                    {% endfor %}
                                </div>
                            </div>
                        </form>

                        <form class="form-inline">
                            <div class="form-group">
                                <button class="btn btn-success g-add-condition">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add condition
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# FREE SPINS #}
        <div class="row g-action-details g-action-details-1"
             style="{% if data.action.id|default(null) != 1 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        <img src="/images/congrats.png" />
                    </div>
                </div>
            </div>
        </div>

        {# EMAIL #}
        <div class="row g-action-details g-action-details-5"
             style="{% if data.action.id|default(null) != 5 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <input name="title" type="text" class="form-control" value="{{ data.action_details[0].title|default(null) }}" placeholder="E-mail title" />
                            </div>
                            <div class="form-group">
                                <textarea name="email" cols="70" rows="10" class="form-control">{{ data.action_details[0].email|default(null) }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# GIVE TANGIBLE REWARD #}
        <div class="row g-action-details g-action-details-8"
             style="{% if data.action.id|default(null) != 8 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <textarea name="reward" cols="70" rows="10" class="form-control">{{ data.action_details[0].reward|default(null) }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# TEXT MESSAGE #}
        <div class="row g-action-details g-action-details-5"
             style="{% if data.action.id|default(null) != 5 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <textarea name="reward" cols="70" rows="10" class="form-control">{{ data.action_details[0].reward|default(null) }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# MODIFY VARIABLE #}
        <div class="row g-action-details g-action-details-4"
             style="{% if data.action.id|default(null) != 4 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Defined variables</h4>
                    </div>
                    <div class="panel-body">
                        {%- macro variable_macro(variables, variable) %}
                            <form class="form-inline g-property" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">$</span>
                                        <select name="id" class="form-control mb-1 mb-sm-1 border-input"
                                                style="width: 200px !important;">
                                            <option>-- select variable --</option>
                                            {% for var in variables %}
                                                <option value="{{ var['uuid'] }}" {% if variable.id|default(null)==var['uuid'] %}selected{% endif %}>{{ var['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <select name="sign" class="form-control border-input">
                                        <option value="=" {% if variable.sign|default(null)=='=' %}selected{% endif %}>assign</option>
                                        <option value="+=" {% if variable.sign|default(null)=='+=' %}selected{% endif %}>increment by</option>
                                        <option value="*=" {% if variable.sign|default(null)=='*=' %}selected{% endif %}>multiply by</option>
                                        <option value="/=" {% if variable.sign|default(null)=='/=' %}selected{% endif %}>divide by</option>
                                        <option value="[]=" {% if variable.sign|default(null)=='[]=' %}selected{% endif %}>add to the list</option>
                                    </select>
                                    <input name="equation" placeholder="expression"
                                           class="form-control mb-1 mb-sm-1 border-input"
                                           value="{{ variable.equation|default('') }}">
                                    &nbsp; <i class="fa fa-question-circle" style="cursor: pointer;" aria-hidden="true"
                                              data-toggle="modal" data-target=".property-modal"></i>
                                </div>
                            </form>
                        {%- endmacro %}
                        {% for variable in data.action_details|default([]) %}
                            {{ variable_macro(variables, variable) }}
                        {% else %}
                            {{ variable_macro(variables, {}) }}
                        {% endfor %}

                        <div class="clearfix">&nbsp;</div>

                        <form class="form-inline" onclick="return false">
                            <div class="form-group">
                                <button class="btn btn-success g-add-property">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add variable
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-lg-12 col-md-11">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">API details</h4>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">POST</span>
                                <input type="text" class="form-control"
                                       value="https://api.triggerfi.com/v1/triggers/"
                                       aria-describedby="basic-addon1" readonly="readonly" id="api1">
                            </div>
                        </div>
<pre style="background: #eee; color:#646464; white-space:pre !important; display: none" id="post_data"></pre>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12 col-md-11">
                <div class="text-right">
                    <input type="hidden" name="trigger_id" id="trigger_id" value="{{ trigger.id|default(null) }}"/>
                    <button class="btn btn-primary" onclick="triggers.save()">SAVE TRIGGER</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/js/pages/ui-notifications.js"></script>