<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Live Automations</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <a href="/automations/add" class="btn btn-success m-b-sm"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add new automation</a>
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Trigger</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Trigger</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for v in list %}
                                    <tr>
                                        <td><a href="/automations/edit/<?=$v['uuid']?>">{{ v['name'] }}</a></td>
                                        <td>{{ v['eventId']|default(null) }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3" align="center">List is empty</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->