/* Write your custom CSS here */
.g-conditions p.operator {
    font-size:11px;
    padding: 0 0 0 40px;
}
.g-conditions p.operator:last-child {
    display: none;
}

code.cx{
    white-space: pre-line;
    border:10px solid red;
}